*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.profile{
    
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-image: url(../images/IMG_20220103_103745.jpg);
    background-position: right;
    background-color: white;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
span{
    color: #f9004d;
}
        
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{ 

    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding: 10px;
    margin: 5px;
}
nav ul li a:hover{
        color: #f9004d;
        transition: .4s;
}

/*primary content*/

.content{
        position: absolute;
        top: 50%;
        left: 8%;
}
h1{
    color: white;
    font-size: 75px;
    margin: 20px 0px 20px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
.mail form{
        width: 380px;
        max-width: 100%;
        position: relative;
}

.mail form input:first-child{
    display: inline-block;
    width: 100%;
    padding:14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.mail form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding:9px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    cursor: pointer;
    top:6px;
    right: 6px;
}

/*About*/

.about{
    width:100%;
    padding: 100px 0px;
    background-color:#fcfc;
}
.about img{
    height:auto;
    width:430px;
}

.about-text{
    width: 550px;


}
.about-page{
    width: 1130px;
    max-width: 95%;
    margin: 0px auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color:white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 17px;
    margin-bottom: 45px;
}

/*footer*/
footer{
    color: white;
    background-color:#f9004d;
    height: 1.6em;
    margin-top: 8%;
    text-align: center;
}

/*contact*/
body{
    background-color: #fcfc;
}
.contact{
    height: 100%;
    width: 100%;
    background:#fcfc;
    background-repeat: no-repeat;
}

.container{
    min-height: 100vh;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
}

.container form{
    width: 670px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background:#f9004d;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: white;
    font-weight: 500px;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width:290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fcfc;
}

.container form input::placeholder{
    color: white;
}

.container form #lastname,
.container form #mobile{
    margin-left: 20px;

}

.container form #textarea{
   
    border-bottom: 2px solid #fcfc;
    color: white;
   font-weight: 200px;
   font-size: 15px;
   padding: 10px;
   min-width: 600px;
   min-height: 80px;
   max-height: 80px;

}

#textarea::-webkit-scrollbar{
    width: 1em;
}

#textarea::-webkit-scrollbar-thumb{
    background-color:white;
}


.container form #button{
    border: none;
    background: white;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600px;
    font-size: 20px;
    color:#333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container form #button:hover{
    opacity: 0.7;
}

/*skills*/

.skill{
    height: 15vh;
    width: 100%;
    background-color: #fcfc;
    background-repeat: no-repeat;
}
body{
    background-color: #fcfc;
}
.container{
    
    margin-top: 1px;
    margin-left: 3%;
    padding-bottom: 20%;
    
}
.contents{
 border: 3px solid #f9004d;
 background-color:white;
 width: 22%;
 float: left;
 margin-left: 4px;
 height: 16em;
 padding: 5px;
}

.contents h4{
    text-align: center;
    color:#f9004d;
    
}
.contents p{
    line-height: 1.25em;
    text-align: justify;

}
.contents a{
    text-decoration: none;
    color:#fcfc;
}
.my-skills h1{
    color: #f9004d;
    font-weight: 400px;
    margin-top: 80px;
    width: 400px;
    text-align: center;
    margin-left: 35%;
    font-size: 45px;
}

/*education*/
.education{
    height: 16vh;
    width: 100%;
    background-color: #fcfc;
    background-repeat: no-repeat;
}
body{
    background-color: #fcfc;
}
.my-edu{
    
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 6%;
    padding-bottom: 20%;
    text-decoration: none;
}
.edu{
  
    border: 3px solid white;
    border-radius: 10%;
    background-color:#f9004d;
    width: 22%;
    float: left;
    margin-left: 135px;
    height: 16em;
    padding: 10px;
}

.my-edu .edu h3{
    color:white;
    text-align: center;
}

.my-edu .edu li{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fcfc;
    text-align:left;
}
   


